a:link, a:visited { text-decoration: none; }
a:hover {text-decoration: underline; }
a:active {text-decoration: underline; }
a img { border: none; }

.topbar-inner  {
	  background-color:#555;
	  background-color:#555555;
	  background-repeat:repeat-x;
	  background-image:-khtml-gradient(linear, left top, left bottom, from(#555555), to(#444444));
	  background-image:-moz-linear-gradient(top, #555555, #444444);
	  background-image:-ms-linear-gradient(top, #555555, #444444);
	  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #444444));
	  background-image:-webkit-linear-gradient(top, #555555, #444444);
	  background-image:-o-linear-gradient(top, #555555, #444444);
	  background-image:linear-gradient(top, #555555, #444444);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#444444', GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar h3 a {
	padding: 4px 20px 0px;
}

#game-page {
	margin-top: 40px; 
	font-size: 14px;
}

.step {
	margin-top: 20px;
	margin-bottom: 10px;
}

.step small { color: #707070; }

#step1, #step2 {
	background-color: #CFCFCF;
	border-radius: 5px;
}

.code-header {
	padding-top: 20px;
	padding-bottom: 10px;
}

.code-header .p1-text { margin-left: 30px; }
.code-header .p2-text { margin-right: 30px; }

.editor {
	height: 425px;
}

#editor1, #editor2 {
	width: 425px;
	height: 425px;
}

#editor1 {
	background-color: #FFF;
	margin-left: 30px;
}

#editor2 {
	margin-left: 485px;
}

.editor-controls {
	padding-top: 10px;
	padding-bottom: 20px;
}

select { color: #404040; }

.samples {
	vertical-align: middle;
}

.p1 .save, .p2 .save {
	display: inline;
	margin-left: 10px;
	font-size: 11px;
	font-weight: bold;
}

.p1-text, .p2-text, .neutral-text, .success, .error {
	padding: 2px 4px;
	font-weight: bold;
	border-radius: 3px;
}

.p1-text {
	background-color: #FFF;
	color: #333;
}

.p2-text {
	background-color: #000;
	color: #FFF;
}

.neutral-text {
	background-color: #DDD;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.shadow {
	box-shadow: 0 0 5px #888;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
}	

#p1-img, #p2-img, #check, #x {
	height: 50px;
	vertical-align: middle;
}

#p1-img, #p2-img {
	margin-top: 5px;
}

#images {
	display: none;
}

.success {
	background-color: #46A546;
	color: #FFF;
}

.error {
	background-color: #C43C35;
	color: #FFF;
}

.game-status {
	padding-top: 20px;
	padding-bottom: 5px;
	height: 50px;
}

.game-status .message {
	font-size: 20px;
	vertical-align: middle;
}

.code-header .message {
	margin: 0px 5px;
}

.names-time .p1-text { margin-left: 48px; }
.names-time .p2-text { margin-right: 48px; }

.names-time .time {
	display: inline-block;
}

.names-time .time, .display .p1-text, .display .p2-text {
	width: 42px;
}

.display .p1-text, .display .p2-text { 
	margin-top: 5px;
}

.display .p1-text { 
	float: right;
	margin-right: 1px;
}

#display-options {
	padding-top: 360px;
	width: 120px;
}

#display-options label { width: 120px; }

#error-dialog {
	font-size: 13px;
	height: 400px;
	overflow: scroll;
}

#error-dialog pre {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
}

.display #canvas-div {
	width: 610px;
	margin: auto;
	position: relative;
}

#canvas-alt {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 30px;
	left: 55px;
	display: none;
}

#canvas-alt h1 {
	text-align: center;
}

#canvas-alt table {
	margin: 0 auto;
	text-align: center;
}

#canvas-alt .stat {
	text-align: center;
	background-color: #AAA;
}

#canvas-alt .p1 {
	text-align: right;
	background-color: #FFF;
	color: #333;
}

#canvas-alt .p2 {
	background-color: #000;
	color: #FFF;
}

#series-results {
	font-size: 36px;
}

#series-results td {
	line-height: 150%;
}

#series-results td {
	padding: 0px 20px;
}

#series-stats td {
	padding: 0px 10px;
}

#play {
	font-size: 18px;
	vertical-align: middle;
}

#seeker {
	width: 500px;
	font-size: 10px;
	display: inline-block;
}

#controls {
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	padding-bottom: 10px;
}


#rematch, #swap, #series {
	font-size: 12px;
	margin-top: 5px;
}

#step3-buttons {
	text-align: center;
	margin-bottom: 10px;
}

#step3-buttons .p2 {
	margin: 10px 0px 5px 10px;
}

#footer {
	margin-bottom: 30px;
	text-align: center;
}

#footer .container { 
	border-top: 1px solid #DDD;
	padding-top: 10px;	
}
