<!DOCTYPE html>
<html>
<head>
	<title>RoboTag</title>
	<link rel="stylesheet" href="./stylesheets/style.css">
	<link rel="stylesheet" href="./images/icomoon/style.css">
</head>
<body>
	<noscript>
		<div id="rt-noscript">
			<div class="noscript-wrapper">
				<div class="noscript-img-wrapper">
					<div class="img-logo"></div>
				</div>
				<div id="noscript-message">
					<h2>Unsupported environment detected</h2>
					<strong>RoboTag requires Javascript and can only run in browsers with canvas support (basically everything except IE8 and below)</strong>
				</div>
			</div>
		</div>
	</noscript>
	<div id="rt-header">
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a href="/" class="brand"> <span alt="RoboTag logo" class="img-logo-sm"></span> </a>
					<ul class="nav">
						<li> <a href="https://github.com/mikeygee/RoboTag" target="_blank"> Help &amp; FAQ</a> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="rt-demo-editors" class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<h2 class="page-header"> Demo<small> 3 steps to RoboTag (see <a href='https://github.com/mikeygee/RoboTag' target='_blank'> github</a> for complete rules and instructions)</small> </h2>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<h3 class="step1"> Step 1: Code<small> Write a Javascript function to control each robot, or try a sample robot</small> </h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 rt-editor-wrapper p1">
				<div class="rt-code-header p1"> Player 1</div>
				<div id="rt-editor1" class="rt-editor"></div>
			</div>
			<div class="span6 rt-editor-wrapper p2">
				<div class="rt-code-header p2">Player 2</div>
				<div id="rt-editor2" class="rt-editor"></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<h3 class="step2"> Step 2: Watch<small> View the match to see the robots in action. This becomes active after 2 valid robots are submitted.</small></h3>
			</div>
		</div>
	</div>
	<div id="rt-demo-player-container" class="container">
		<div class="row">
			<div id="rt-demo-player" class="rt-player span12"></div>
		</div>
	</div>
	<div id="rt-demo-signup" class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<h3 class="step3"> Step 3: Compete<small> Got something good? Submit your robot to compete in tournaments and see how you rank against the rest of the world.</small></h3>
			<p>Server side development is still in progress. The end goal is to have a complete web app where you can save your robots and enter them into tournaments to compete against other people. In the mean time, you can experiment with the demo and save your code on your own.</p>
			</div>
		</div>
	</div>

<!-- underscore templates-->
	<script id="template-editor" type="text/_template">
		<div class='rt-code-header'>
			<div class='name'>{{ctx.name}}</div>
			<div class='status'></div>
		</div>
		<div id='{{ctx.editorId}}' class='rt-editor'>{!ctx.fn}}</div>
			<div class='rt-code-footer'>
			<select class='rt-robot-select'>
			<% if(ctx.demo) { %><option value=''>{{ctx.name}}</option> <% } %>
				<optgroup label="Samples">
				<% _.each(ctx.robots, function(fn, name) { %>
					<option value='{{name}}'>{{name}}</option>
				<% }); %>
				</optgroup>
			</select>
			<button type='button' class='btn btn-primary submit'>Submit</button><br>
			<label class='checkbox inline'><input type='checkbox' id='toggle-line-wrap' checked>Wrap lines</label>
			<label class='checkbox inline'><input type='checkbox' id='toggle-vim-mode'>Vim mode</label>
		</div>
	</script>
	<script id="template-player" type="text/_template">
		<div class='p1 name'><span>Player 1</span></div>
		<div class='p1 stats'>
			<div class='img-robot1-sm'></div>
			<div class='fuel'><span>1000</span></div>
		</div>
		<div class='p2 name'><span>Player 2</span></div>
		<div class='p2 stats'>
			<div class='img-robot2-sm'></div>
			<div class='fuel'><span>1000</span></div>
		</div>
		<div class='message'><span class='empty'></span></div>
		<div class='time'>TIME: <span>1000</span></div>
		<canvas class="rt-canvas-robots" width="550px" height="550px"></canvas>
		<canvas class="rt-canvas-items" width="550px" height="550px"></canvas>
		<canvas class="rt-canvas-fuel" width="650px" height="550px"></canvas>
		<div class="rt-canvas-overlay">
			<div><i class='icon-play'></i></div>
		</div>
		<div class='rt-player-nav'>
			<i class="icon-play play"></i>
			<div class="rt-player-slider"></div>
		</div>
		<div class='rt-player-options'>
			<h6>Display Options</h6>
			<label class='checkbox'><input id='disp-item-vals' type='checkbox' checked> Item values</label>
			<label class='checkbox'><input id='disp-fuel-bars' type='checkbox' checked> Fuel bars</label>
			<label class='checkbox'><input id='disp-coordinates' type='checkbox'> Positions</label>
			<label class='checkbox'><input id='disp-path' type='checkbox'> Paths</label>
			<h6>Game Options</h6>
			<label>Fuel tanks: <span id='fuel-qty'>{{ctx.match.map.fuelQty}}</span></label><div id='fuel-slider'></div>
			<label>Mines: <span id='mine-qty'>{{ctx.match.map.mineQty}}</span></label><div id='mine-slider'></div>
			<button class='btn btn-small swap'><i class='icon-shuffle'></i> Swap</button><br>
			<button class='btn btn-small rematch'><i class='icon-spinner'></i> Rematch</button>
		</div>
	</script>
	<script type="text/javascript">
		(function() {
			var el = document.createElement('canvas'); // if no canvas support, show error message
			if(!(el.getContext && el.getContext('2d'))) {
				document.body.innerHTML = '<div id="rt-noscript"><div class="noscript-wrapper"><div class="noscript-img-wrapper"><div class="img-logo"></div></div><div id="noscript-message"><h2>Unsupported environment detected</h2><strong>RoboTag requires Javascript and can only run in browsers with canvas support (basically everything except IE8 and below)</strong></div></div></div>'
			}
		})();
	</script>
	<script src="./js/jquery-2.0.2.min.js" type="text/javascript"></script>
	<script src="./js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
	<script src="./js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/underscore-min.js" type="text/javascript"></script>
	<script src="./js/robotag.js" type="text/javascript"></script>
	<script src="./js/robotag-client.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(RoboTag.initDemo);
	</script>
</body>
</html>
