.img-check, .img-fuel, .img-fuel-sm, .img-logo-sm, .img-logo, .img-mine, .img-mine-sm, .img-robot1, .img-robot2, .img-robot1-sm, .img-robot2-sm, .img-x {
	background: url('/images/sprite.png') no-repeat;
	display: inline-block;
}

.img-check {
	background-position: 0 0;
	width: 101px;
	height: 99px;
}

.img-fuel {
	background-position: -522px 0;
	width: 100px;
	height: 100px;
}

.img-fuel-sm {
	background-position: -549px -124px ;
	width: 20px;
	height: 20px;
}

.img-logo-sm {
	background-position: -281px -118px ;
	width: 158px;
	height: 30px;
}

.img-logo {
	background-position: -2px -102px ;
	width: 269px;
	height: 51px;
}

.img-mine {
	background-position: -415px -1px ;
	width: 100px;
	height: 100px;
}

.img-mine-sm {
	background-position: -579px -125px ;
	width: 20px;
	height: 20px;
}

.img-robot1 {
	background-position: -312px -1px ;
	width: 100px;
	height: 100px;
}

.img-robot2 {
	background-position: -203px 0;
	width: 100px;
	height: 100px;
}

.img-robot1-sm {
	background-position: -500px -107px ;
	width: 40px;
	height: 40px;
}

.img-robot2-sm {
	background-position: -451px -108px ;
	width: 40px;
	height: 40px;
}

.img-x {
	background-position: -100px 0;
	width: 101px;
	height: 99px;
}

